.box {
    border: 1px solid black;
    width: 100%;
    margin-bottom: 24px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    align-items: center;
    font-family: 'Helvetica Neue', sans-serif;
}

.controls {
    border: none;
    display: block;
    padding: 0;
}

.controls pre {
    background-color: #f5f5f5;
    padding: 6px 12px;
    font-family: monospace;
}

.testingArea {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.demoComponent {
    background: var(--boxColor);
    border: 5px solid var(--borderColor);
    height: 120px;
    margin-top: 24px;
    position: relative;
    width: 120px;
}

.count {
  margin-top: 12px;
  text-align: right;
}
