.demo-local {
  flex: 0 0 auto;
  font-size: 16px;
  margin-bottom: 24px;
  width: 100%;
}

.demo-local label {
  display: block;
  font-size: inherit;
  margin-bottom: 12px;
}

.demo-local button {
  font-size: inherit;
  margin-left: 6px;
}

.demo-local .box {
  background: var(--boxColor);
  border: 5px solid var(--borderColor);
  height: 120px;
  margin-top: 24px;
  position: relative;
  width: 120px;
}

.count {
  margin-top: 12px;
  text-align: right;
}
