.demo-root {
  flex: 0 0 auto;
  font-size: 16px;
  margin-bottom: 24px;
  width: 100%;
}

.demo-root label {
  display: block;
  font-size: inherit;
  margin-bottom: 12px;
}

.demo-root button {
  font-size: inherit;
  margin-left: 6px;
}

.demo-root .box {
  background: var(--boxColor);
  border: 1px solid black;
  height: 120px;
  margin-top: 24px;
  position: relative;
  width: 120px;
}
