.demo {
  flex: 0 0 auto;
  font-size: 16px;
  width: 100%;
}

.demo label {
  display: block;
  font-size: inherit;
  margin-bottom: 12px;
}

.demo input {
  font-size: inherit;
}

.demo button {
  font-size: inherit;
  margin-left: 6px;

  /* background-color: blue; */

  /* color: white; */

  /* border: none; */
}

.box {
  background: var(--boxColor);
  border: 1px solid black;
  height: 120px;
  margin-top: 24px;
  position: relative;
  width: 120px;
}

.count {
  margin-top: 12px;
  text-align: right;
}
