.scene {
    width: 200px;
    height: 200px;
    border: 1px solid #CCC;
    margin: 80px;
    perspective: 400px;
}

.cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px) rotateY(var(--y)) rotateX(var(--x)) rotateZ(var(--z));
}

.face {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    line-height: 200px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.front  {
    background: hsla(  0, 100%, 50%, 0.7);
    transform: rotateY(  0deg) translateZ(100px);
}
.right  {
    background: hsla( 60, 100%, 50%, 0.7);
    transform: rotateY( 90deg) translateZ(100px);
}
.back   {
    background: hsla(120, 100%, 50%, 0.7);
    transform: rotateY(180deg) translateZ(100px);
}
.left   {
    background: hsla(180, 100%, 50%, 0.7);
    transform: rotateY(-90deg) translateZ(100px);
}
.top    {
    background: hsla(240, 100%, 50%, 0.7);
    transform: rotateX( 90deg) translateZ(100px);
}
.bottom {
    background: hsla(300, 100%, 50%, 0.7);
    transform: rotateX(-90deg) translateZ(100px);
}
