.box {
    border: 1px solid black;
    width: 100%;
    margin-bottom: 24px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica Neue', sans-serif;
}

.trackingArea {
    width: 333px;
    height: 333px;
    background: #ffffab;
    position: relative;
    overflow: hidden;
    cursor: move;
}

.trackingArea:after {
    content: "Mouse tracking: off";
    position: absolute;
    bottom: 16px;
    right: 8px;
    color: rgba(0,0,0,30%);
    z-index: 1;
    font-size: 14px;
}

.trackingArea:hover {
    background: #d9ffd9;
}

.trackingArea:hover:after {
    content: "Mouse tracking: on";
}

.tracker {
    width: 66px;
    height: 66px;
    position: absolute;
    left: var(--left);
    top: var(--top);
    z-index: 2;
}
